.advantages {
  @include content-padding;
  background-color: $bg-grey;

  .advantages__list {
    @include list-reset;
    max-width: 320px;
    margin: 0 auto;
  }

  .advantages__title {
    @include title-font-mobile;
    display: block;
    color: #f7f4f1;
    text-align: center;
  }

  .advantages__text {
    margin: 0;
    padding: 0 22px;
    color: #f7f4f1;
    text-align: center;
  }
}
