.advantages {
  @include content-padding;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 48px;
  background-color: $bg-grey;

  &::after {
    @include delimiter($beige);
  }

  .advantages__list {
    @include list-reset;
    max-width: 320px;
    margin: 0 auto;
  }

  .advantages__item {
    padding-top: 130px;

    &--quick {
      background-image: url("../img/slider-scissors.svg");
      background-repeat: no-repeat;
      background-position: center top 5px;
    }

    &:not(:first-child) {
      display: none;
    }
  }

  .advantages__title {
    @include title-font-mobile;
    margin-bottom: 14px;
    display: block;
    color: #f7f4f1;
    text-align: center;
  }

  .advantages__text {
    margin: 0;
    margin-bottom: 30px;
    padding: 0 22px;
    color: #f7f4f1;
    font-size: 20px;
    text-align: center;
  }

  .advantages__slider {
    align-self: center;
  }
}
