.discount {
  border: 1px solid rgba($white, 0.1);

  .discount__text {
    width: 125px;
    margin: 0 auto;
    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 113px;
    font-size: 20px;
    color: $white;

    background-image: url("../img/clock.svg");
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 58px 57px;
  }
}
