.form {
  padding-bottom: 39px;

  .form__input-container {
    margin: 0;

    &--text {
      margin-bottom: 6px;
    }

    &--additional {
      margin-bottom: 32px;
    }

    &--radio:not(:nth-child(3n+1)) {
      margin-right: 37px;
    }

    &--radio:nth-child(3) {
      margin-right: 38px;
    }
  }

  .form__fields {
    &--person {
      margin-bottom: 32px;
    }

    &--contacts {
      margin-bottom: 32px;
    }
  }

  .form__fields--radio {
    display: flex;
    flex-wrap: wrap;
    max-width: 280px;
    margin-bottom: 37px;
    padding-left: 23px;
    padding-right: 10px;
  }

  .form__field-title {
    width: 100%;
    margin: 0;
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
  }

  .form__input {
    &--text {
      width: 100%;
      padding: 9px 18px;
      box-sizing: border-box;
      font-family: inherit;
      font-size: 18px;
      line-height: 30px;
      border: 1px solid $stroke-color;

      &::placeholder {
        font-size: 18px;
        line-height: 30px;
        color: $black;
        opacity: 1;
      }
    }
  }

  .form__radio {
    position: relative;
    display: block;
    min-width: 52px;
    padding-top: 60px;
    padding-bottom: 122px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 50px;
      height: 50px;
      border: 1px solid $stroke-color;
      border-radius: 50%;
      background-color: $white;
    }
  }

  input[type="radio"]:checked + .form__radio {
    &::after {
      content: "";
      position: absolute;
      top: 17px;
      left: 50%;
      transform: translateX(-50%);
      width: 16px;
      height: 16px;
      border: 1px solid $stroke-color;
      border-radius: 50%;
      background-color: $white;
    }
  }

  .form__icon-beard {
    position: absolute;
    top: 99px;
    left: 50%;
    transform: translateX(-50%);
    fill: $light-brown;
  }

  .form__checkbox {
    position: relative;
    display: block;
    margin-bottom: 20px;
    padding-left: 60px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 18px;
    line-height: 30px;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 34px;
      height: 34px;
      background-color: $white;
      border: 1px solid $stroke-color;
    }
  }

  input[type="checkbox"]:checked + .form__checkbox {
    &::after {
      background-image: url("../img/checkbox-tick.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 22px 16px;
    }
  }

  .form__send {
    color: $white;
    background-color: $light-brown;
  }
}
