.site-nav {
  @include list-reset;

  .site-nav__item {
    background-color: $light-brown;
    border-bottom: 1px solid #71543f;
  }

  .site-nav__link {
    display: block;
    padding: 13px 21px;

    line-height: 24px;
    font-weight: bold;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: inset 0 1px 1px 0 rgba(136, 110, 91, 1);

    &[href]:active {
      color: rgba($white, 0.3);
    }
  }
}

@media (min-width: $tablet-width) {
  .site-nav {
    display: flex;
    width: 570px;

    .site-nav__item {
      margin-right: 32px;
      background: none;
      border: none;

      &:last-child {
        margin-right: 0;
      }
    }

    .site-nav__link {
      box-shadow: none;
      padding: 0;
      padding-top: 24px;
      padding-bottom: 23px;
      letter-spacing: 0.12px;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-nav {
    width: 800px;

    .site-nav__item {
      margin-right: 0;
    }

    .site-nav__link {
      padding-left: 31px;
      padding-right: 33px;
    }
  }
}
