.social {
  .social__text {
    display: none;
  }

  .social__list {
    @include list-reset;
    display: flex;
    box-sizing: border-box;
    border-top: 1px solid $stroke-dark;
    border-bottom: 1px solid $stroke-dark;
  }

  .social__item {
    width: 33.3%;

    &:nth-child(2) {
      border-left: 1px solid $stroke-dark;
      border-right: 1px solid $stroke-dark;
    }
  }

  .social__link {
    display: block;
    height: 99px;
    font-size: 0;
    line-height: 0;
    background-repeat: no-repeat;
    background-position: center;

    &--vk {
      background-image: url("../img/icon-vk.svg");
      background-size: 41px 23px;
    }

    &--fb {
      background-image: url("../img/icon-facebook.svg");
      background-size: 18px 39px;
    }

    &--ig {
      background-image: url("../img/icon-insta.svg");
      background-size: 36px 36px;
    }
  }
}

@media (min-width: $tablet-width) {
  .social {
    border-left: 1px solid $stroke-dark;
    border-right: 1px solid $stroke-dark;
  }
}

@media (min-width: $desktop-width) {
  .social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: none;

    .social__text {
      display: block;
      color: $white;
    }

    .social__list {
      border: none;
    }

    .social__item {
      width: 48px;
      border: 1px solid $stroke-dark;

      &:nth-child(2) {
        margin-left: 6px;
        margin-right: 6px;
      }
    }

    .social__link {
      width: 48px;
      height: 48px;

      &--vk {
        background-size: 15px 9px;
      }

      &--fb {
        background-size: 10px 21px;
      }

      &--ig {
        background-size: 19px 19px;
      }
    }
  }
}
