.user-nav {
  @include list-reset;

  .user-nav__link {
    position: relative;
    display: block;
    padding: 13px 21px;
    padding-left: 50px;

    line-height: 24px;
    color: $white;
    text-decoration: none;

    background-color: $nav-brown;
  }

  .user-nav__icon-login {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    fill: rgba($white, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .user-nav {
    .user-nav__link {
      width: 68px;
      height: 71px;
      padding: 0;
      font-size: 0;
      background: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-nav {
    display: flex;
    justify-content: flex-end;
    width: 160px;

    .user-nav__link {
      height: auto;
      width: auto;
      padding-top: 24px;
      padding-bottom: 23px;
      padding-right: 31px;
      padding-left: 54px;
      font-size: 18px;
      font-weight: bold;

      text-transform: uppercase;
    }
  }
}
